<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>
<body>
    <H1>States</H1>
        <UL id="States">
            
            <LI>State: {{ state.id }}: <B>{{ state.name }}</B>
                <UL id="cities">
                    
                    <LI>City: {{ city.id }}: <B>{{ city.name }}</B></LI>
                    
                </UL>
            </LI>
            
        </UL>
</body>
</html>
